<div class="page-signin" ng-controller="LoginCtrl">

    <div class="signin-header">
        <div class="container text-center">
            <section class="logo">
                <a href="#/">{{main.brand}}</a>
            </section>
        </div>
    </div>

    <div class="main-body">
        <div class="container">
            <div class="form-container">
                <form class="form-horizontal" data-ng-submit="vm.login()">
                    <fieldset>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                                <input type="text"
                                       class="form-control"
                                       placeholder="Nombre de usuario"
                                       ng-model="vm.username"
                                       >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="password"
                                       class="form-control"
                                       placeholder="Contraseña"
                                       ng-model="vm.password"
                                       >
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block" data-ng-disabled="vm.form.$invalid">Ingresar</button>
                        </div>
                    </fieldset>
                </form>               
            </div>
        </div>
    </div>
</div>