/application/safe/nbproject/private/
/application/safe-api/nbproject/private/
/application/safe_api/nbproject/private/
/application/safe_api/app/cache/dev
/application/safe_api/app/logs/dev.log
/application/safe_ui/square/nbproject/private/
/application/safe_ui/nbproject/private/