<div class="col-md-12">
    
    <div class="col-md-12">
        <pre ng-if="vm.debug" style="max-height: 200px; overflow: scroll;">{{vm.model | json }}</pre>
    </div>
    <div class="col-md-12">
        <div ng-switch="vm.model.tipo">
            
            <!-- Multiple Choice - General -->
            <div ng-switch-when="1">
                
                <div class="form-group" >
                    <label class="col-md-2 control-label" for="pregunta">Componer Pregunta:</label>
                    <div class="col-md-10">                              
                        <div text-angular ta-toolbar="vm.toolbar" ng-model="vm.model.pregunta" class="ui-editor"></div>                             
                    </div>
                </div>
                
                <div class="form-group" >
                    <label class="col-md-2 control-label" for="pregunta">Respuestas: </label>
                    <div style="margin-left: 15px;" class="col-md-5 alert alert-warning" role="alert" data-ng-if="vm.model.respuestas.length === 0">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> No existen Respuestas cargadas
                    </div>
                    <div data-ng-if="vm.model.respuestas.length > 0">
                        <div class="col-md-10" >
                            <table data-ng-table="vm.respuestasTableParams" class="table table-responsive table-condensed table-hover table-striped">
                                <tr ng-repeat="respuesta in $data">
                                    <td class="col-md-8" data-title="'Opciones'" header-class="'text-left'">
                                        <input class="form-control" type="text" placeholder="Completar Opción" name="opcion" ng-model="respuesta.texto"  required />                                       
                                    </td>
                                    <td class="col-md-2" data-title="'Correcta/s'" header-class="'text-left'">        
                                        <div style="padding-top: 6px; ">
                                            <label class="ui-checkbox"><input name="checkbox1" type="checkbox" ng-model="respuesta.correcta" value="option1" ><span></span></label>
                                        </div>  
                                    </td>
                                    <td class="col-md-2" data-title="'Eliminar'" header-class="'text-left'">              
                                        <div style="padding-top: 6px; ">
                                            <button  type="button" class="btn btn-xs btn-primary" aria-label="Eliminar" data-ng-click="vm.eliminarRespuesta($index)">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10" >
                        <button type="button" class="btn btn-info btn-sm pull-left" aria-label="Agregar" ng-click="vm.agregarRespuesta()">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar
                        </button>
                    </div>
                </div>
                
                <div data-ng-if="vm.model.respuestas.length > 0 && vm.model.respuestas[0].texto !== '' && vm.model.pregunta !== ''">
                    <div class="form-group" >
                        <uib-accordion class="col-md-10 col-md-offset-2" close-others="vm.accordion" class="ui-accordion">
                            <uib-accordion-group is-open="vm.groupVistaPrevia.isOpen" class="ui-accordion">
                                <uib-accordion-heading>
                                    <div>
                                        Vista Previa
                                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.groupVistaPrevia.isOpen, 'glyphicon-chevron-right': !vm.groupVistaPrevia.isOpen}"></i>
                                    </div>
                                </uib-accordion-heading>
                                <div class="form-group" >
                                    <div data-ng-if="vm.model.respuestas.length > 0">
                                        <div class="col-md-12"> 

                                            <div ta-bind ng-model="vm.model.pregunta"></div>
                                            <table class="table table-stripe" >                                
                                                <tbody>
                                                    <tr ng-repeat="opciones in vm.model.respuestas" >
                                                        <td class="col-md-10 text-left">{{opciones.texto}}</td>
                                                        <td class="col-md-2 text-center">
                                                            <div style="padding-top: 6px; padding-left: 25px;">
                                                                <label class="ui-checkbox"><input name="checkbox1" type="checkbox" ng-model="respuesta.correcta.nuevo" value="option1" ><span></span></label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div> 
                            </uib-accordion-group>
                        </uib-accordion>      
                    </div>
                </div>
            </div>

            <!-- Multiple Choice - Matriz de Seleccion -->
            <div ng-switch-when="2">
                <div class="form-group">
                    <div class="form-group" >
                        <label class="col-md-2 control-label" for="pregunta">Componer Pregunta General:</label>
                        <div class="col-md-10">                              
                            <div text-angular ta-toolbar="vm.toolbar" ng-model="vm.model.pregunta" class="ui-editor"></div>                             
                        </div>
                    </div>
                
                    <div class="form-group" >
                        <label class="col-md-2 control-label" for="pregunta">Afirmaciones V o F: </label>
                        <div style="margin-left: 15px;" class="col-md-5 alert alert-warning" role="alert" data-ng-if="vm.model.respuestas.length === 0">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> No existen Respuestas cargadas
                        </div>
                        <div data-ng-if="vm.model.respuestas.length > 0">
                            <div class="col-md-10" >
                                <table data-ng-table="vm.respuestasTableParams" class="table table-responsive table-condensed table-hover table-striped">
                                    <tr ng-repeat="respuesta in $data">
                                        <td class="col-md-6" data-title="'Descripciones'" header-class="'text-left'">
                                            <input class="form-control" type="text" ng-model="respuesta.texto"  required />
                                        </td>
                                        <td class="col-md-2" data-title="'Verdadero'" header-class="'text-center'">
                                            <div style="padding-top: 6px; padding-left: 50px;">
                                                <label class="ui-checkbox"><input name="checkbox1" type="checkbox" ng-model="respuesta.verdadero" value="option1" ng-disabled="respuesta.falso"><span></span></label>
                                            </div>                                                    
                                        </td>
                                        <td class="col-md-2" data-title="'Falso'" header-class="'text-left'">
                                            <div style="padding-top: 6px; padding-left: 10px;">
                                                <label class="ui-checkbox"><input name="checkbox1" type="checkbox" ng-model="respuesta.falso" value="option1" ng-disabled="respuesta.verdadero"><span></span></label>
                                            </div> 
                                        </td>
                                        <td class="col-md-2" data-title="'Acciones'" header-class="'text-left'">                          
                                            <button type="button" ng-if="!vm.readOnly" class="btn" aria-label="Eliminar" data-ng-click="vm.eliminarRespuesta($index)" >
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-offset-2 col-md-10" >
                            <button type="button" class="btn btn-info btn-sm pull-left" aria-label="Agregar" ng-click="vm.agregarRespuesta()">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar
                            </button>
                        </div>
                    </div>
                
                    <div data-ng-if="vm.model.respuestas.length > 0 && vm.model.respuestas[0].texto !== '' && vm.model.pregunta !== ''">
                        <div class="form-group" >
                            <uib-accordion class="col-md-10 col-md-offset-2" close-others="vm.accordion" class="ui-accordion">
                                <uib-accordion-group is-open="vm.groupVistaPrevia.isOpen" class="ui-accordion">
                                    <uib-accordion-heading>
                                        <div>
                                            Vista Previa
                                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.groupVistaPrevia.isOpen, 'glyphicon-chevron-right': !vm.groupVistaPrevia.isOpen}"></i>
                                        </div>
                                    </uib-accordion-heading>
                                    <div class="form-group" >
                                        <div data-ng-if="vm.model.respuestas.length > 0">
                                            <div class="col-md-12"> 

                                                <div ta-bind ng-model="vm.model.pregunta"></div>
                                                <table class="table table-stripe" > 
                                                    <thead>
                                                        <tr>
                                                            <th><div class="th">
                                                                
                                                            </div></th>
                                                            <th><div class="th">
                                                                Verdadero
                                                            </div></th>
                                                            <th><div class="th">
                                                                Falso
                                                            </div></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="opciones in vm.model.respuestas" >
                                                            <td class="col-md-10 text-left">{{opciones.texto}}</td>
                                                            <td class="text-center"><input type="radio" data-ng-name="opciones.texto" data-ng-model="opciones.seleccion" data-ng-value="true" /></td>
                                                            <td class="text-center"><input type="radio" data-ng-name="opciones.texto" data-ng-model="opciones.seleccion" data-ng-value="false" /></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div> 
                                </uib-accordion-group>
                            </uib-accordion>      
                        </div>
                      <!--  <div class="form-group" >
                            <label class="col-md-2 control-label" for="pregunta">Vista Previa: </label>

                            <div data-ng-if="vm.model.respuestas.length > 0">
                                <div class="col-md-10" > 

                                    <div ta-bind ng-model="vm.model.pregunta"></div>
                                    <table class="table table-bordered table-striped table-responsive" >
                                        <thead>
                                            <tr>
                                                <th><div class="th">
                                                #
                                                </div></th>
                                                <th><div class="th">
                                                    Verdadero
                                                </div></th>
                                                <th><div class="th">
                                                    Falso
                                                </div></th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr ng-repeat="opciones in vm.model.respuestas" >
                                                <td class="text-center">{{opciones.texto}}</td>
                                                <td class="text-center"><input type="radio" ng-model="respuesta.correcto.nuevo" /></td>
                                                <td class="text-center"><input type="radio" ng-model="respuesta.incorrecto.nuevo" /></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>  -->  
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>
