<div class="page" data-ng-hide="vm.loading">
    
    <section class="invoice-container" id="invoice">
        
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-profile text-center">
                    <div class="panel-heading clearfix bg-{{vm.background}}">
                        <h3>{{vm.title}}</h3>               
                        <h6>{{vm.subTitle}}</h6>
                    </div>                
                </div>
            </div>
        </div>
        
        <pre ng-if="vm.debug" style="max-height: 300px; overflow: scroll;">{{vm.actividad | json}}</pre>

        <div class="row" data-ng-if="!vm.loading" data-confirm-on-exit="vm.form.$dirty">            
            <form class="form-horizontal form-validation col-md-12" novalidate name="vm.form" data-ng-submit="vm.guardar()" novalidate>               
                <div class="row">                    
                    <div class="col-md-12">
                        <uib-accordion close-others="vm.accordion" class="ui-accordion">
                            <uib-accordion-group is-open="vm.groupInfoGral.isOpen" class="ui-accordion">
                                <uib-accordion-heading>
                                    <div>
                                        INFORMACION GENERAL
                                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.groupInfoGral.isOpen, 'glyphicon-chevron-right': !vm.groupInfoGral.isOpen}"></i>
                                    </div>
                                </uib-accordion-heading>           
                                
                                <div class="form-group" show-errors>
                                    <label class="col-md-2 control-label" for="titulo">Título</label>
                                    <div class="col-md-10">
                                       <input class="form-control" type="text" placeholder="Título" name="titulo" data-ng-model="vm.actividad.titulo" required>
                                       <field-error-label data-field="vm.form.titulo" data-field-label="Título" />
                                    </div>
                                </div>

                                <div class="form-group" >
                                    <label class="col-md-2 control-label" for="descripcion" >Descripción:</label>
                                    <div class="col-md-10">
                                       <div text-angular ta-toolbar="vm.toolbar" ng-model="vm.actividad.descripcion" class="ui-editor-concepto"></div>                                        
                                    </div>
                                </div>  
                                
                                
                                <div class="form-group" show-errors>
                                    <label class="col-md-2 control-label" for="descripcion">Dificultad:</label>
                                    <div class="col-md-10">
                                       <input class="form-control" type="number" placeholder="Dificultad" step="0.25" name="dificultad" data-ng-model="vm.actividad.dificultad" required>
                                       <field-error-label data-field="vm.form.dificultad" data-field-label="Dificultad" />
                                    </div>
                                </div>    

                                
                                <div class="form-group">
                                    <div class="col-md-10 col-md-offset-2">
                                        <uib-accordion close-others="vm.accordion" class="ui-accordion">
                                            <uib-accordion-group is-open="vm.groupOpAvanzadas.isOpen" class="ui-accordion">
                                                <uib-accordion-heading>
                                                    <div>
                                                        Opciones Avanzadas
                                                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.groupOpAvanzadas.isOpen, 'glyphicon-chevron-right': !vm.groupOpAvanzadas.isOpen}"></i>
                                                    </div>
                                                </uib-accordion-heading>  
                                                <div class="form-group" >
                                                    <label class="col-md-2 control-label" for="discriminador" >Discriminador:</label>
                                                    <div class="col-md-10">
                                                        <input class="form-control" type="number" min="0" step="0.01" placeholder="Discriminador" name="discriminador" data-ng-model="vm.actividad.discriminador">
                                                    </div>
                                                </div>     

                                                <div class="form-group" >
                                                    <label class="col-md-2 control-label" for="azar" >Azar:</label>
                                                    <div class="col-md-10">
                                                        <input class="form-control" type="number" min="0" step="0.01" placeholder="Azar" name="azar" data-ng-model="vm.actividad.azar">
                                                    </div>
                                                </div>    

                                                <div class="form-group" >
                                                    <label class="col-md-2 control-label" for="d" >D:</label>
                                                    <div class="col-md-10">
                                                        <input class="form-control" type="number" min="0" step="0.01" placeholder="D" name="d" data-ng-model="vm.actividad.d">
                                                    </div>
                                                </div>   
                                                
                                            </uib-accordion-group>
                                        </uib-accordion>
                                    </div>
                                </div>                  
                            </uib-accordion-group>
                        </uib-accordion>
                    </div>  
                
                    <div class="col-md-12">
                        <uib-accordion close-others="vm.accordion" class="ui-accordion">
                            <uib-accordion-group is-open="vm.groupEjercicios.isOpen" class="ui-accordion">
                                <uib-accordion-heading>
                                    <div>
                                        EJERCICIO
                                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.groupEjercicios.isOpen, 'glyphicon-chevron-right': !vm.groupEjercicios.isOpen}"></i>
                                    </div>
                                </uib-accordion-heading>
                                
                                <div data-ng-if="vm.actividad.ejercicio.length === 0">
                                    <div class="form-group" show-errors>
                                        <div class="col-md-12">
                                            <div class="input-group" >
                                                <span class="input-group-addon">Agregar Ejercicio:</span>
                                                <select class="form-control" placeholder="tipo" name="tipo" data-ng-model="vm.ejercicio" ng-options="ejer as ejer.descripcion for ejer in vm.ejerciciosDisponibles" ></select>
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-primary" aria-label="Agregar" data-ng-click="vm.agregarEjercicio(vm.ejercicio)" ng-disabled="!vm.ejercicio">Agregar</button>
                                                </span>
                                            </div>
                                        </div>                                    
                                    </div>                            
                                </div>
                                                            
                                <uib-accordion close-others="false">
                                    <uib-accordion-group is-open="vm.groupEjercicio.isOpen" class="ui-accordion" ng-repeat="formulaModel in vm.actividad.ejercicio">
                                        <uib-accordion-heading>
                                            <div>
                                                {{formulaModel.descripcion}}
                                                <div class="pull-right">
                                                    <i class="glyphicon glyphicon-trash" uib-tooltip="Quitar Fórmula" data-ng-click="vm.eliminarEjercicio($index, $event)"></i> &nbsp;&nbsp;
                                                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.groupEjercicio.isOpen, 'glyphicon-chevron-right': !vm.groupEjercicio.isOpen}"></i>
                                                </div> 
                                            </div>
                                        </uib-accordion-heading>

                                        <docente-cursos-ejercicios ng-model="formulaModel" edit-mode="vm.editMode" descripcion="vm.actividad.descripcion"></docente-cursos-ejercicios>
                                        
                                    </uib-accordion-group>
                                </uib-accordion>
                                
                            </uib-accordion-group>
                        </uib-accordion>
                    </div>
                
                </div> 
                
                <div class="row">
                    <div class="col-md-12">
                        <error-list data-form="vm.form" data-labels="vm.fieldLabels" />
                    </div>
                </div>
                
                <div class="pull-right form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary" aria-label="Guardar" data-ng-disabled="vm.form.$invalid">
                            <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Guardar
                        </button>
                        <button type="button" class="btn btn-default" aria-label="Cancelar" data-ng-click="vm.cancel()">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancelar
                        </button>
                    </div>
                </div>    
            </form>                            
        </div>        
    </section>   
</div>