<form class="form form-horizontal" name="form" data-ng-submit="vm.ok()" novalidate>
    <div class="modal-header">
        <h2 class="modal-title">{{vm.title}}</h2>
    </div>

    <div class="modal-body">
        <div class="form-group" show-errors>
            <label class="col-md-2 control-label" for="titulo">Título:</label>
            <div class="col-md-10">
                <input class="form-control" type="text" placeholder="Título" name="titulo" maxlength="200" data-ng-model="vm.titulo" required>
                <field-error-label data-field="form.titulo" data-field-label="Título" />
            </div>
        </div>
        
        <div class="form-group" show-errors>
            <label class="col-md-2 control-label" for="copete">Descripción corta: </label>
            <div class="col-md-10">
                <input class="form-control" placeholder="Descripción corta" name="copete" maxlength="250" data-ng-model="vm.copete" required>
            </div>
        </div> 
        
        <div class="form-group" show-errors>
            <label class="col-md-2 control-label" for="descripcion">Descripción:</label>
            <div class="col-md-10">
                <textarea class="form-control" rows="3" type="text" placeholder="Descripción" name="descripcion" maxlength="500" data-ng-model="vm.descripcion" required></textarea>
            </div>
        </div>     
        
        <div class="form-group" show-errors>
            <label class="col-md-2 control-label" for="orden">Orden:</label>
            <div class="col-md-10">
                <input class="form-control" type="number" min="0" placeholder="Orden" name="orden" data-ng-model="vm.orden" required>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-md-2 control-label" for="predecesoras">Predecesoras:</label>
            <label class="col-md-2" ng-repeat="concepto in vm.temaConceptos">
                <input type="checkbox" checklist-model="vm.predecesoras" checklist-value="concepto.id"> {{concepto.titulo}}
            </label>
            <div class="col-md-4" style="padding-top: 7px;" data-ng-if="vm.temaConceptos.length === 0">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> No existen conceptos cargados
            </div>
        </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-ng-disabled="form.$invalid">Aceptar</button>
        <button type="button" class="btn btn-default" ng-click="vm.cancel()">Cancelar</button>
    </div>
</form>
