<header class="top-header clearfix" >

    <!-- Logo -->
    <div class="logo"
         ng-class="{ 'bg-dark': ['11','31'].indexOf(main.skin) >= 0,
                     'bg-white': main.skin === '21',
                     'bg-primary': ['12','22','32'].indexOf(main.skin) >= 0,
                     'bg-success': ['13','23','33'].indexOf(main.skin) >= 0,
                     'bg-info-alt': ['14','24','34'].indexOf(main.skin) >= 0,
                     'bg-warning': ['15','25','35'].indexOf(main.skin) >= 0,
                     'bg-danger': ['16','26','36'].indexOf(main.skin) >= 0,
                    }">
        <a ng-show="admin" ng-click="inicioAdmin()" href="">
            <span class="logo-icon glyphicon glyphicon-th-large"></span>
            <span class="logo-text">{{main.brand}}</span>
        </a>
        <a ng-show="alumno" ng-click="inicioAlumno()" href="">
            <span class="logo-icon glyphicon glyphicon-th-large"></span>
            <span class="logo-text">{{main.brand}}</span>
        </a>
        <a ng-show="docente" ng-click="inicioDocente()" href="">
            <span class="logo-icon glyphicon glyphicon-th-large"></span>
            <span class="logo-text">{{main.brand}}</span>
        </a>
    </div>

    <!-- needs to be put after logo to make it work -->
    <div ng-show="admin" class="menu-button" toggle-off-canvas>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>

    <div class="top-nav">
        <ul class="nav-left list-unstyled">
            <li ng-show="admin">
                <a href="#/" data-toggle-nav-collapsed-min
                             class="toggle-min"
                             ><i class="fa fa-bars"></i></a>
            </li> 
            <li class="dropdown text-normal nav-profile" uib-dropdown>
                
                <a href="javascript:;" uib-dropdown-toggle ng-disabled="disabled">
                    <div style="margin-top: 5px;">
                        <span class="glyphicon glyphicon-user"></span>
                        <span>{{user}}</span>
                    </div>
                </a>
                                
                <!--<ul class="dropdown-menu with-arrow dropdown-menu-scaleIn" uib-dropdown-menu>
                    <li>
                        <a href="#/page/profile">
                            <i class="fa fa-user"></i>
                            <span data-translate="Mi Perfil"></span>
                        </a>
                    </li>
                </ul>-->
            </li>         
        </ul> 

        <ul class="nav-right pull-right list-unstyled">
            <li>
                <a ng-click="logout()" class="bg-info sf-pointer">
                    <i class="fa fa-power-off"></i>
                </a>
            </li>
        </ul>
        
        <ul class="nav-left pull-right list-unstyled">
            <li class="text-normal nav-profile" ng-show="admin">
                <a href="http://safeapi.safabox.com/manuales/ManualAdministrador.pdf" download="ManualAdministrador.pdf" uib-dropdown-toggle ng-disabled="disabled" tooltip-placement="left" uib-tooltip="Descargar Manual">
                    <div style="margin-top: 5px;">
                        <span class="glyphicon glyphicon-question-sign"></span>
                        <span></span>
                    </div>
                </a>
            </li>
            
            <li class="text-normal nav-profile" ng-show="alumno">
                <a href="http://safeapi.safabox.com/manuales/ManualAlumno.pdf" download="ManualAlumno.pdf" uib-dropdown-toggle ng-disabled="disabled" tooltip-placement="left" uib-tooltip="Descargar Manual">
                    <div style="margin-top: 5px;">
                        <span class="glyphicon glyphicon-question-sign"></span>
                        <span></span>
                    </div>
                </a>
            </li>

            <li class="text-normal nav-profile" ng-show="docente">
                <a href="http://safeapi.safabox.com/manuales/ManualDocente.pdf" download="ManualDocente.pdf" uib-dropdown-toggle ng-disabled="disabled" tooltip-placement="left" uib-tooltip="Descargar Manual">
                    <div style="margin-top: 5px;">
                        <span class="glyphicon glyphicon-question-sign"></span>
                        <span></span>
                    </div>
                </a>
            </li>
            
        </ul>

    </div>

</header>
