        
<div class="nav-wrapper" ng-controller="SidebarCtrl">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li class="nav-title">
            <span data-translate="MENU"></span>
        </li>
        
        <li ng-show="menuAdministrador"><a ng-click="inicio()" href=""> <i class="fa fa-dashboard"></i><span data-translate="Dashboard"></span> </a></li>
        <li ng-show="menuAlumno"><a ng-click="inicio()" href=""> <i class="fa fa-dashboard"></i><span data-translate="Dashboard"></span> </a></li>
        <li ng-show="menuDocente"><a ng-click="inicio()" href=""> <i class="fa fa-dashboard"></i><span data-translate="Dashboard"></span> </a></li>
        
        <li ng-show="menuAdministrador" > 
            <a href="#/"><i class="glyphicon glyphicon-list-alt"></i><span data-translate="Administración"></span></a>
            <ul>
                <li><a data-ui-sref="admin.alumnos.list" href=""><i class="fa fa-caret-right"></i><span data-translate="Alumnos"></span></a></li>
                <li><a data-ui-sref="admin.docentes.list" href=""><i class="fa fa-caret-right"></i><span data-translate="Docentes"></span></a></li>
                <li><a data-ui-sref="admin.cursos.list" href=""><i class="fa fa-caret-right"></i><span data-translate="Cursos"></span></a></li>
            </ul>
        </li>
        
        <li ng-show="menuAlumno" > 
            <a href="#/"><i class="glyphicon glyphicon-list-alt"></i><span data-translate="Alumno"></span></a>
            <ul>
                <li><a data-ui-sref="alumno.cursos.list" href=""><i class="fa fa-caret-right"></i><span data-translate="Cursos"></span></a></li>
            </ul>
        </li>
        
        <li ng-show="menuDocente" > 
            <a href="#/"><i class="glyphicon glyphicon-list-alt"></i><span data-translate="Docente"></span></a>
            <ul>
                <li><a data-ui-sref="docente.cursos.list" href=""><i class="fa fa-caret-right"></i><span data-translate="Cursos"></span></a></li>    
            </ul>
        </li>
        
    </ul>
</div>