        
<div class="nav-wrapper" ng-controller="SidebarCtrl">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li class="nav-title">
            <span data-translate="NAVIGATION"></span>
        </li>
        
        <li ng-show="menuAdministrador"><a ng-click="inicio()" href=""> <i class="fa fa-dashboard"></i><span data-translate="Dashboard"></span> </a></li>
        <li ng-show="menuAlumno"><a ng-click="inicio()" href=""> <i class="fa fa-dashboard"></i><span data-translate="Dashboard"></span> </a></li>
        <li ng-show="menuDocente"><a ng-click="inicio()" href=""> <i class="fa fa-dashboard"></i><span data-translate="Dashboard"></span> </a></li>
        
        <li ng-show="menuAdministrador" > 
            <a href="#/"><i class="glyphicon glyphicon-list-alt"></i><span data-translate="Administración"></span></a>
            <ul>
                <li><a ng-click="irAlumno()" href=""><i class="fa fa-caret-right"></i><span data-translate="Alumnos"></span></a></li>
                <li><a href="#/ui/typography"><i class="fa fa-caret-right"></i><span data-translate="Docentes"></span></a></li>
                <li><a href="#/ui/icons"><i class="fa fa-caret-right"></i><span data-translate="Cursos"></span></a></li>
            </ul>
        </li>
        
        <li ng-show="menuAlumno" > 
            <a href="#/ui"><i class="glyphicon glyphicon-list-alt"></i><span data-translate="Administración"></span></a>
            <ul>
                <li><a href="#/ui/buttons"><i class="fa fa-caret-right"></i><span data-translate="Alumnos"></span></a></li>
                <li><a href="#/ui/typography"><i class="fa fa-caret-right"></i><span data-translate="Docentes"></span></a></li>
                <li><a href="#/ui/icons"><i class="fa fa-caret-right"></i><span data-translate="Cursos"></span></a></li>
            </ul>
        </li>
        
        <li ng-show="menuDocente" > 
            <a href="#/ui"><i class="glyphicon glyphicon-list-alt"></i><span data-translate="Administración"></span></a>
            <ul>
                <li><a href="#/ui/buttons"><i class="fa fa-caret-right"></i><span data-translate="Alumnos"></span></a></li>
                <li><a href="#/ui/typography"><i class="fa fa-caret-right"></i><span data-translate="Docentes"></span></a></li>
                <li><a href="#/ui/icons"><i class="fa fa-caret-right"></i><span data-translate="Cursos"></span></a></li>
            </ul>
        </li>
        
    </ul>
</div>