<style>
    .safe-cursor {
        cursor: pointer;
    }
    .safe-breadcrumb .breadcrumb {
        background-color: white;
        margin-bottom: 5px;
        margin-top: -10px;
    }
    
    .safe-actividad {
        background-color: white;
    }
    .text-center .safe-actividad {
        margin-top: -8px;
    }
    .safe-actividad .safe-panel-top {
        padding: 8px;
    }
    .safe-actividad-intro .safe-panel-img { 
        margin-top: -65px;
        margin-left: 10px;
        float: left;        
        border-radius: 50%;
        border: 8px solid #fff;
        width: 125px;
        height: 125px;
        line-height: 80px;
        text-align: center;
        font-size: 58px;
        text-shadow: -6px 8px 5px rgba(0, 0, 0, 0.3);
    }
    .safe-panel-img img{
        width: 100%;
        max-width: 100%;
    }
    .safe-btn-group button {
        margin-left: 5px;
    }
    .safe-modal-header .modal-header {
        padding: 10px;
    }
    .safe-option-callout {
        border-left: 3px solid #66B5D7;
        padding: 10px;
        margin: 5px 0;
    }
    .safe-only-title.safe-panel-img {
        margin-top: -130px;
    }
    .safe-only-title.safe-panel-top {
        padding:40px 0;
    }
    .safe-incorrecto {
        background-color: #FEF0F0;
        color: #9D545B;
    }
    
    .safe-correcto {
        background-color: #F2FBEC;
        color: #7A8C6B;
    }
    
    .safe-incorrecto .safe-option-callout {
        border-color: #E87352;
        background-color: #FEF0F0;
        color: #9D545B; 
    }
    
    .safe-correcto .safe-option-callout {
        border-color: #e9f7d7;
        background-color: #F2FBEC;
        color: #7A8C6B;
    }
</style>

<div class="page page-dashboard" ng-show="!vm.loading">
    <div class="safe-breadcrumb">
        <ol class="breadcrumb">
            <li><a href="" ng-click="vm.goCurso()">{{vm.curso.titulo}}</a></li>
            <li><a href="" ng-click="vm.goTema()">{{vm.tema.titulo}}</a></li>
            <li ng-click="vm.goBack()"><a href="">{{vm.concepto.titulo}}</a></li>
            <li class="active"><a href="">{{vm.titulo}}</a></li>
        </ol>
    </div>  
    <div class="row">
        <div class="col-sm-12">
            <section class="safe-actividad">
                <div class="safe-panel-top bg-primary" ng-class="{'safe-only-title': !vm.hasDescription}">
                    <div class="text-center">
                        <h3 >{{vm.titulo}}</h3>
                    </div>
                </div>                
                <div class="safe-actividad-intro">

                    <div class="safe-panel-img bg-primary safe-cursor" ng-class="{'safe-only-title': !vm.hasDescription}"  ng-click="vm.viewConcept()"  uib-tooltip="Haz click en mi imagen para saber en que estamos trabajando" tooltip-placement="right">
                        <img alt="" src="images/bots/safe_masculino_1.svg" class="img-circle">
                    </div>
                    <div ng-hide="!vm.hasDescription">    
                        <div class="safe-texto" data-slim-scroll data-scroll-height="150px">
                            <div ta-bind ng-model="vm.actividad.descripcion"> </div>
                        </div>
                    </div>    
                </div>
                <div class="safe-ejercicio">
                    <section class="panel panel-default">
                        <div class="panel-heading"><span class="fa fa-pencil-square-o"></span> Resolver</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12" >
                                    <div ng-include="vm.templateUrl"></div>
                                </div>                                
                            </div>
                        </div>
                    </section>                    
                </div>
                <div class='pull-right safe-btn-group'>
                    <button type="button" class="btn btn-suceess btn-lg" ng-click="vm.goBack()">Volver</button>
                    <button type="button" class="btn btn-primary btn-lg" ng-click="vm.enviar()" ng-show="vm.showEnviar">Enviar</button>
                    <button type="button" class="btn btn-primary btn-lg" ng-click="vm.irProximaActividad()" ng-show="vm.showProximaActividadBtn">Proxima Actividad</button>
                </div>
            </section>
        </div>
    </div>
</div>

<script type="text/ng-template" id="multiplechoice.html">
    <div ta-bind ng-model="vm.actividad.ejercicio[0].pregunta" ></div>
    <ul class="task-list list-unstyled">
        <li ng-repeat="opcion in vm.actividad.ejercicio[0].respuestas" ng-class="{'safe-incorrecto': vm.showResultado && opcion.resultadoEsperado == false, 'safe-correcto': vm.showResultado && opcion.resultadoEsperado == true}">
            <div class="safe-option-callout callout-info safe-cursor" ng-click="vm.toogleOption(opcion)">
                <label class="ui-checkbox">
                    <input id="opcion_{{opcion.id}}" type="checkbox" ng-model="opcion.selected">
                    <span>{{opcion.texto}}</span>
                </label>
            </div>            
        </li>
    </ul>  
</script>

<script type="text/ng-template" id="multiplechoicematrix.html">
    <div ta-bind ng-model="vm.actividad.ejercicio[0].pregunta"></div>
    <div>
        <table class="table table-stripe" > 
            <thead>
                <tr>
                    <th class="th"></th>
                    <th class="th">Verdadero</th>
                    <th class="th">Falso</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="opcion in vm.actividad.ejercicio[0].respuestas" ng-class="{'safe-incorrecto': vm.showResultado && opcion.resultadoEsperado != opcion.resultado, 'safe-correcto': vm.showResultado && opcion.resultadoEsperado == opcion.resultado}" >
                    <td class="col-md-10 text-left">{{opcion.texto}}</td>
                    <td class="text-center"><input type="radio" data-ng-name="opcion.texto" data-ng-model="opcion.resultado" data-ng-value="true" /></td>
                    <td class="text-center"><input type="radio" data-ng-name="opcion.texto" data-ng-model="opcion.resultado" data-ng-value="false" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</script>

<script type="text/ng-template" id="emptyTemplate.html">
    <div style="text-align: center;">
        <span class="fa-stack fa-5x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
        </span>
    </div>
</script>

<script type="text/ng-template" id="concepto.html">
    <div class="safe-modal-header modal-header btn-info">
        <h3>{{concepto.titulo}}</h3>
    </div>
    <div class="modal-body">
        <div ta-bind ng-model="concepto.descripcion"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click='listo()'>Listo</button>        
    </div>
</script>  

<script type="text/ng-template" id="confirmarEnvioActividad.html">
    <div class="safe-modal-header modal-header bg-warning">
        <h3>Advertencia</h3>
    </div>
    <div class="modal-body">
        <p>No seleccion&oacute; ninguna respuesta. ¿Está seguro de continuar?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click='cancelarEnvio()'>Cancel</button>
        <button class="btn btn-primary" ng-click='continuarEnvio()'>Deseo continuar</button>                         
    </div>
</script>  
